@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

img {
    width: 200px;
    height: 200px;
}
body {    
    background: whitesmoke;
    margin: 20px !important;
    padding: 20px;
    font-family: 'Josefin Sans', cursive;
}
h1 {
    font-family: 'Josefin Sans', cursive;
    background-color:#f48b6d;
    font-size: 70px;
    text-align: center; 
    margin: 40px;
    line-height: 1.28571429em;; 
    width: auto;
}
p {
    font-size: 3rem;
    margin: 10px;
    padding-top: 20px;
}

#logo {
    width: 400px;
    height: 400px;
}

#logo2 {
    width: 150px;
    height: 150px;
}


#biography {
    font-size: 2rem;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.facts {
    font-size: 1.25em;
}

#container {
    text-align: center;
    width: auto;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 200px;
    padding-right: 200px;
}

#color {
    color: blue;
}

#languages{
    text-align: center;
    width: 100%;
    padding: 15px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 70 px;
}



#navbutton{
    float: right;
}

.post {
    margin-top: 75px !important;
    width: 50%;
    margin: auto;
}

#friendsDescription {
    padding: 30px;
}
