#match_table table {
    width: 100%;
    border-collapse: collapse;
}

#match_table th, td {
    padding: 10px;
    border-bottom: 1px solid black;
}

#match_table th {
    height: 50px;
    text-align: center;
    background-color: #89C566;
    color: white;
}

#match_table tr:hover {background-color: #c9ebb5;} 

#matchingDescription {
    padding: 35px;
}

.button:hover {
    background-color: #f48b6d;
    color: white;
}

.button {
    width: 150px;
    height: 35px;
    margin: 2px 2px;
    text-align: center;
    vertical-align: middle;
}
.boxed {
    padding: 20px;
    font-size: 1.5rem;
    background: #c9ebb5;
}