h1 {
    padding: 30px;
    background-color: #f48b6d;
    text-align: center;
}
#container{
  padding-top: 30px;
  margin-left: auto;
}
.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 2px;
    border-style: solid;
    border-color: black;
  }
  .circular img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.profile_name {
    width: auto;
    height: auto;
    margin: 20px; 
    font-size: 2rem;
}

.navbar-nav{
    padding: 10px;
    padding-top: 0px;
    margin: 20px;
    font-size: 2.0rem;
    font-family: 'Josefin Sans', cursive;
    position: relative;
}
.navbar-brand{
    margin-left: 2%;
    font-size: 3rem;
    font-family: 'Josefin Sans', cursive;
    position: relative;
}

.editPage{
  margin: auto;
  text-align: center;
}

.attributes{
  padding: 10px;
  margin: auto;
  text-align: justify;
}

.profile_tag{
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
  margin-left: auto;
}
.profile_attributes{
  font-size: 1.3rem;
}
