
#container {
    text-align: center;
    margin: auto;
    background: #fef2ed;
}
form {
    display: inline-block;
}

h1 {
    margin-top: 50x;
    padding: 200x;
    background-color: #f48b6d;
    text-align: center;
}

#row{
    text-align: center;
    width: 100%;
    padding: 15px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 70 px;
  }

  /*.languages{
    display: inline-block;
  }*/
  #row {
    font-size: 30px;
  }
  select {
    width: 100%;
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    background-color:white;
  }

  input{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #submit {
    background-color: #e4532d;
    border: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    font-size: 18px;
  }

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 2px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #e4532d;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
} 