{% extends 'base.html'%}

{%block head %}

{% endblock %}

{% block content %}
    <h1>About</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Tōku</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/match">Matches</a>
            <a class="nav-item nav-link" href="/friends">Friends</a>
            <a class="nav-item nav-link" href="/faq">Help/FAQ</a>
          </div>
        </div>
    </nav>

    <p>In today’s world, communication and cultural understanding are both fundamental qualities for ____. \
    Tōku is a language partner finding app where people from all around the world can connect with each other while practicing new language skills.</p>
    
    <div class="row">
        <h2>Meet the creators!</h2>
        <div class="column"></div>
            <h3>Sky Jung</h3>
        <div class="column"></div>
            <h3>Jeffrey Mun</h3>
        <div class="column"></div>
            <h3>Anna Katherine Zhao</h3>
    </div>

{% endblock%}s