
{% extends 'base.html'%}

{%block head %}

{% endblock %}

{% block content %}
    <h1 id='header'>Tōku</h1>   
    <div id="container">
      <div id = "right">
        <img id = "logo" src= "https://i.ibb.co/9wMy55x/toku-logo-v2.png%22">
        <p>Welcome to Tōku!</p>
        <div id = "biography">
          <p1>Want to learn a new language? Why do it alone? Find your language buddy today!</p1> <br>
        </div>
        <button type="button" id="Register" onclick="window.location = '/register'">Register</button>
        <button type="button" id="Login" onclick="window.location = '/login'">Login</button>
    </div>
{% endblock%}


