{% extends 'base.html'%}

{%block head %}

{% endblock %}

extends profile.html 

{% block content %}
    <h1> Matches! </h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Tōku</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/profile" onclick='get_current_token("/profile");'>Profile <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/match" onclick='get_current_token("/match");'>Matches</a>
            <a class="nav-item nav-link" href="/friends" onclick='get_current_token("/friends");'>Friends</a>
            <a class="nav-item nav-link" href="/faq">Help/FAQ</a>
        </div>
        </div>
    </nav>
    <div id="matchingPage">
        <div id = "matchingDescription">
            <h3> 
                Hello! Congratulations on getting matched!
            </h3>
            <h4>
                Here you'll see people who you matched with. Take a look at what language you will help them with and which language they will help you with!
                If you click on the "Add Friend" button, you will be able to communicate with them! 
            </h4>
        </div>
        <div id="tblofmatches">
            <table style ="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Match Language</th>
                    <th>Add Friend!</th>
                </tr>
                {% for username, language in matches.items() %}
                <tr>
                    <td>{{username}}</td>
                    <td>{{language}}</td>
                    <td><button class="button" id="friend_button" name="friend_button" onclick='addFriend()'>Add Friend</button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <script>
            function addFriend() {
                var x = document.getElementById("friend_button");
                if(x.innerHTML == "Add Friend")
                {
                    x.innerHTML = "Friend Added!";
                    setTimeout(() => {x.innerHTML = "Remove Friend";}, 3000);
                }
                else if (x.innerHTML == "Remove Friend")
                {
                    x.innerHTML = "Friend Removed!";
                    setTimeout(() => {x.innerHTML = "Add Friend";}, 3000);
                }
            }
        </script>
        
    </div>
{% endblock%}
