{% extends 'base.html'%}

{%block head %}

{% endblock %}

{% block content %}
    <h1>Register</h1>
    <div id="container">
            <form name="Register" method='POST' action='/register'>
                <div class="signup">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Jane Doe">
                </div>
        
                <div class="signup">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" placeholder="01/01/2000">
                </div>
        
                <div class="signup">
                  <label for="gender">Gender</label>
                  <select id="gender" name="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Nonbinary</option>
                    <option>Prefer not to answer</option>
                  </select> 
                </div>
        
                <div>
                    <label for="email address">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com">
                </div>
        
                <div>
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
        
                <div>
                    <label for="password">Password</label>
                    <input type="password" class="" id="password" name="password">
                </div>
        
                <div>
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" class="" id="confirmpassword" name="confirmpassword">
                </div>
                <button type="submit" id="submit" onclick="window.location = '/languages'">SUBMIT</button>

                <!--<button type="submit" id="submit" data-toggle="modal">SUBMIT</button>-->
            </form>

{% endblock%}